@media(min-width:60em) {
	html{font-size: 300%}
	hr {height: 3px}
}

html {
	font-family: 'Trebuchet MS';
	/* font-size: 16px; */
	color: #c3c5e3;
	background-color: #252850;
}



:link, :visited {
	color: #9494eb;
}

:link:hover, :visited:hover {
	color: #c3c5e3;
}

hr {
	border-color: #464c99;
	background-color: #353973;
	border-top: 1px solid #353973;
}

