html {
	font-family: 'Trebuchet MS';
	font-size: 16px;
	/* font-size: 16px; */
	color: #c3c5e3;
	background-color: #252850;
}

.logo {
	
	font-family: 'Francois One', sans-serif;
}

.copyright {
	font-family: 'Arial';
	font-size: 12px;
}

:link, :visited {
	color: #9494eb;
}

:link:hover, :visited:hover {
	color: #c3c5e3;
}

hr {
	border-color: #464c99;
	border-top: 1px solid #353973;
}

